target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.idea/
*.iml
.vscode/
.DS_Store
*.class
*.log
*.err
*.jar
*.war
*.ear
/bin/
.settings/
.project
.classpath
/out/
.factorypath
build/
.gradle/
*.swp
*.bak
*.tmp
.env
.env.local
.env.*.local
